<head>
  <meta http-equiv="refresh" content="20" />
</head>  

<script type="text/javascript">
  $(function() {
    $(".challenge").click(function() {
      var challenger_id = $(this).parent('a').attr("name");

      $.ajax({
        url: '/games/challenge/' + challenger_id,
        type: 'get',
        dataType: 'script'
      });
      return false;
     
    });
  }); 

  $(function() {
    $(".accept_challenge").click(function() {
      var user_id = $(this).parent('a').attr("name");

      $.ajax({
        url: '/games/accept_challenge/' + user_id,
        type: 'get',
        dataType: 'script'
      });
      return false;
     
    });
  });   

</script>  

<h1>MoGsClash</h1>
<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">></span></li>  
</ul>

<table class="table table-centered">
  <thead>
    <tr>
      <th>Rank</th>
      <th>ELO</th>
      <th>Username</th>
      <th>Win</th>
      <th>Lose</th>
      <th> + </th>
      <th> - </th>
      <th>Challenge</th>
    </tr>  
  </thead>
  <tbody>
    <% rank = 0 %>
    <% @users.each do |user| %>
      <% rank = rank + 1 %>
      <tr>
        <td>
          <% if rank == 1 %>            
            <%= image_tag '/assets/icon_king.png', style: 'width: 25px; height:25px;' %>
          <% else %>
            <%= rank %>            
          <% end %>
        </td>
        <td><%= user.points %></td>
        <td><%= user.nickname %></td>
        <td><%= user.nb_victory %></td>
        <td><%= user.nb_defeat %></td>
        <td><%= user.general_victory %></td>
        <td><%= user.general_defeat %></td>
        <td>
          <% if user_signed_in? %>
            <% if user != current_user %> 
              <% is_challengable = true %>
              <% is_waiting = false %>
              <% is_acceptable = false %>
              <% is_in_progress = false %>
              <% is_enter_results = false %>
              <% is_validate = false %>
              <% is_waiting_validation = false %>

              <% current_user.games.each do |game| %>              
                <% if game.challenger == user and game.status == "Waiting" %>
                  <% is_challengable = false %>      
                  <% is_waiting = true %>
                <% else %>              
                  <% if game.challenger == user and game.status == "Enter Results" %>
                    <% is_challengable = false %>
                    <% is_enter_results = true %>             
                  <% else %>
                    <% if game.challenger == user and game.status == "Validate" %>
                      <% is_challengable = false %>              
                      <% is_waiting_validation = true %>
                    <% end %>
                  <% end %>

                <% end %>  
              <% end %>

              <% current_user.inverse_games.each do |inverse_game| %>
                <% if inverse_game.user == user and inverse_game.status == "Waiting" %>
                  <% is_challengable = false %>
                  <% is_acceptable = true %>
                <% else %>
                  <% if inverse_game.user == user and inverse_game.status == "Enter Results" %>
                    <% is_challengable = false %>
                    <% is_in_progress = true %>
                    
                  <% else %>
                    <% if inverse_game.user == user and inverse_game.status == "Validate" %>
                      <% is_challengable = false %>
                      <% is_validate = true %>
                      
                    <% end %>  
                  <% end %>
                <% end %>  
              <% end %>  

              <% if is_challengable %>  
                <a href="#" name='<%= user.id %>'><span class="label label-info challenge">Challenge</span></a> 
              <% else %>
                <% if is_waiting %>
                  <span class="label label-warning">Waiting</span> 
                <% else %>
                  <% if is_acceptable %>
                    <a href="#" name='<%= user.id %>'><span class="label label-success accept_challenge">Accept</span></a> 
                  <% else %>
                    <% if is_in_progress %>
                      <span class="label">In Progress</span>   
                    <% else %>
                      <% if is_enter_results %>
                        <%= link_to raw('<span class="label label-important">Enter Results</span>'), enter_results_game_path(user) %>
                      <% else %>
                        <% if is_validate %>
                          <%= link_to raw('<span class="label label-important">Validate</span>'), enter_results_game_path(user) %>
                        <% else %>
                            <% if is_waiting_validation %>
                              <span class="label label-inverse">Waiting Validation</span>
                            <% end %>
                        <% end %>
                      <% end %>  
                    <% end %>  
                  <% end %>
                <% end %> 
              <% end %>  
            <% end %> 
          <% end %>   
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h1>Last Results<small><%= link_to "see all results", results_path %></small></h1>
<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %><span class="divider">></span></li>  
  <li><%= link_to "Results", results_path %></span></li>  
</ul>
<table class="table table-centered table-striped">
  <tbody>
    <% @games.each do |game| %>
    <tr>
        <% winner = User.find(game.winner_id) %>        
        <% if winner == game.user %>
          <td><%= game.user.points %> (<span class='victory'>+<%= game.points_diff %></span>)</td>
          <td><strong><%= game.user.nickname %></strong></td>          
        <% else %>
          <td><%= game.user.points %> (<span class='defeat'>-<%= game.points_diff %></span>)</td>      
          <td><%= game.user.nickname %></td>          
        <% end %>
        <td><%= game.user_1_score %></td>
        <td> : </td>
        <td><%= game.user_2_score %></td>
        <% if winner == game.challenger %>
          <td><strong><%= game.challenger.nickname %></strong></td>
          <td><%= game.challenger.points %> (<span class='victory'>+<%= game.points_diff %></span>)</td>
        <% else %>
          <td><%= game.challenger.nickname %></td>
          <td><%= game.challenger.points %> (<span class='defeat'>-<%= game.points_diff %></span>)</td>      
        <% end %>
    </tr>
    <% end %>
  </tbody>
</table>